# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/ # Alterado de lib60 para lib64 que é mais comum
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log # Adicionado para logs genéricos
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
VENV/
# poetry.lock (descomente se usar Poetry)
# Pipfile.lock (descomente se usar Pipenv)

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode (excluindo configurações que podem ser compartilhadas)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Secrets - Adicione aqui quaisquer ficheiros que contenham senhas ou chaves de API
# Exemplo:
# config.ini
# .secrets
# secrets.json